{% extends 'base.html' %}

{% block content %}

<section id="universalbackground" class="universalbackground mt-2">
	<div class="col-12 mt-5 btn-primary">
		<div class="col-12 mt-5">
		</div>
	</div>
	<div class="container mt-5">
		<div class="row mt-5">

				<div class="col-12 mt-5">
					<div class="d-flex flex-column">
						<p class="m-auto">Your password has been Updated.</p>
					</div>
				</div>
				<div class="col-12 mt-5">
					<div class="d-flex flex-column">
						
					</div>
				</div>
		</div>
	</div>
</section>

<section class="bg-light ">
	<div  class="bg-light "> </div>

</section>
<section class="bg-light ">
	

</section>


{% endblock %}