<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta rel="search" type="application/opensearchdescription+xml" href="/open_search.xml" title="Hambaricho.org">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="i18nDefaultLocale" content="en_US">
    <meta name="i18nLocale" content="en_US">
    <meta name="application-name" content="Hambaricho Toursim">
    <meta name="application-url" content="https://hambaricho.org">
    <meta name="google" content="notranslate">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta http-equiv="refresh" content="36000">
    <title>Trand Economic Project</title>
    

    <!-- Favicons -->
    <link href="{% static 'assets/img/hambimg/ham1.jpg'%}" rel="icon">
    <link href="{% static 'assets/img/hambimg/ham1.jpg'%}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <!--<link href="assets/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">-->
    <link href="{% static 'assets/vendor/animate.css/animate.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
    <!--  jquery-->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js'%}"></script>
    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Hambrcho - v1.0.0
  
  * Author: kibru.com
  * License: https://Hambricho.com/license/
  ======================================================== -->
  
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
            <div class="align-items-center d-none d-md-flex">
               
            </div>

          

            
           
            <div class="d-flex align-items-center">
               
              
                
                
               
            </div>
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        
        <div class="container d-flex align-items-center">
             

            <a href="{% url 'account:home'%}" class="logo me-auto">
                <!--Logo-->
                <img src="{% static 'assets/img/Logo/logo.jpg' %}" alt="" class="img-fluid" >
                 <!-- Uncomment below if you prefer to use an image logo -->
                <!--<p> H <sup>777</sup>S<sup>c</sup></p>-->
                
            </a>
           
            

                               
               
            <nav id="navbar" class="navbar order-last order-lg-0">
            
          
                <ul>
                  <li class="nav-item active">
                    <a class="nav-link m-4" href="{% url 'account:home'%}">Home </a>
                </li>
                    
                    
                    {% if user.is_authenticated %}
                    {% if  user.is_admin%}
                    <li><a class="nav-link scrollto" href="{% url 'admin:index'%}">Dashboard</a></li>
                    {%endif%}
                    <li class="nav-item active ">
                      <a class="nav-link" href="{% url 'account:logout'%}">Logout</a>
                  </li>
                   
                    
                    
                    {% else%}
                      <!--Search start-->
                 <div class="search_area ">
                  <ul class="navbar-nav mx-auto">
                      <li class="nav-item"><i class="search_btn flaticon-magnifier"></i>
                          <div id="search">
                             <!-- <button type="button" class="close">×</button>-->
                             <form action="{% url 'mainapp:search' %}" method="get">
                              <input name="q" type="text" placeholder="Search here...." required/>
                            </form>
                          
                              
                          </div>
                      </li>
                  </ul>
              </div>
              <!--Search end-->
             

              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'account:signupoption' %}">Signup</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'account:login' %}">Login</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'mainapp:graph' %}">Graph</a>
              </li>
                    
                    {% endif%}
                    
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
                
                
            </nav>
            <!-- .navbar -->


        </div>
    </header>
    <!-- End Header -->

   

    <main id="main">

       <!-- ======= Hero Section ======= -->
       <section id="about" class="about p-0 mt-5">
        <div class="container mt-3" data-aos="fade-up">

        </div>
        </section>

    

      
        <!-- ======= attractions Section ======= -->
        <section id="special_place" class="special_place section-bg mt-5 p-0">
            <div class="container mb-3 mt-5" data-aos="fade-up">
           <!--home data area start-->
<div class="container-fluid mt-3">
    <div class="row m-0">


        <!-- filter -->

        <div class=" col-lg-8 mx-auto card">
          
           

                
           
          
         
           
            
          {% if user.is_custome_user%}

              <!-- left side two start-->
            <div class="list-group">

                <p>Cumpations Type</p>
                  <!--Dropdown start-->
            <div class="container">
              <div class="row">
                <div class="col-6">
                <div class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Coutry
                  </a>
                  
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for c in countrys%}
                  
                    <form action="{% url 'mainapp:graphreuest' c.id %}"  method="post" >
                      {% csrf_token %}  
                      <li> <a class="dropdown-item" > <button type="submit" class=" mb-2">{{c.country_id.country}} </button></a></li>
                  </form>
                    
                    {% endfor%}
                  </ul>
                 
                </div>
               </div>

               <div class="col-6">
                <div class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    product type
                  </a>
                
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for ch  in qsch %}
                    
                    <form action="{% url 'mainapp:graphreuest' ch.currency %}"  method="post" >
                      {% csrf_token %}  
                      <li> <a class="dropdown-item" > <button type="submit" class=" mb-2">{{ch.currency}} </button></a></li>
                  </form>
                  <form action="{% url 'mainapp:graphreuest' ch.unit %}"  method="post" >
                    {% csrf_token %}  
                    <li> <a class="dropdown-item" > <button type="submit" class=" mb-2">{{ch.unit}} </button></a></li>
                </form>
                  
                    {% endfor%}
                  </ul>
                </div>
               </div>
              </div>
            </div>
                <!--Dropdown end-->
                
                
                {%if graphs%}
                <div class="list-group">
                  
    
           
                    
                  
                    <img class="card-img-top" src="data:image/png;base64, {{graphs|safe}}">
                    
                   
                  </div>
                  {%endif%}
               
            </div>
             <!-- left side two end-->
         
              
              
                <h1> Custome User</h1>
              
               {% elif user.is_free_user%}
               <h1> Free User </h1>
               

              
               
       
               {%else%}
                          <!--home data area start-->
                <div class="row mt-5"  >
                  
                <div class="col-12" style="background-color: #fff; opacity: 0.7; transition: 0.4s;" > 
                 <p class="text-start" > Thanks for your interest in Trading Economics.
                  To continue with the selection process we ask you to do a small task to prove your skills.
                  You can do so in any programming language and you can pick the topic.
                  The steps are as follows:
                  1 - Signup for an account at developer.tradingeconomics.com. There is no cost associated with joining TE and we promise not to share your your details with anyone.
                  2 - Then please join Github.com if you haven't. Head to https://github.com/tradingeconomics/tradingeconomics and do a fork followed by a pull of the repository to your PC/Mac.
                  3 - Go to docs.tradingeconomics.com and check what endpoints we expose.
                  4 - Use our search and find out what we have that you might find interesting:
                  4.1 - use https://brains.tradingeconomics.com/v2/search/wb,fred,comtrade?q=nigeria&pp=50&p=0&_=1557934352427&stance=2.
                  4.2 - Modify the 'q' query string to search whatever you see fit. And consider that our free developer accounts only have access to some databases.
                  5 - Implement a small script, app or website using an endpoint available in the docs and a time series you found in the search. Some examples of apps can be:
                  5.1 - A website that compares two countries or two indicators.
                  5.2 - Plotting charts after choosing a country - indicator pair.
                  5.3 - Build a web page with a table that displays information.
                  5.4 - Anything you like.
                  6 - Submit the code to the GitHub fork you did above.
                  7 - Send the GitHub link to our email at careers@tradingeconomics.com.
                  There is no time limit but we hope to hear from you soon!</p>
                </div>
                <div class="col-3 mt-2"> 
                  <p class="text-start"> Thanks for your interest in Trading Economics.
                    To continue with the selection process we ask you to do a small task to prove your skills.
                    You can do so in any programming language and you can pick the topic.
                    The steps are as follows:</p>
                </div>
                <div class="col-3  mt-2"> 
                  <p class="text-start"> Thanks for your interest in Trading Economics.
                    To continue with the selection process we ask you to do a small task to prove your skills.
                    You can do so in any programming language and you can pick the topic.
                    The steps are as follows:</p>
                </div>
                <div class="col-3  mt-2"> 
                  <p class="text-start"> Thanks for your interest in Trading Economics.
                    To continue with the selection process we ask you to do a small task to prove your skills.
                    You can do so in any programming language and you can pick the topic.
                    The steps are as follows:</p>
                </div>
                <div class="col-3  mt-2"> 
                  <p class="text-start"> Thanks for your interest in Trading Economics.
                    To continue with the selection process we ask you to do a small task to prove your skills.
                    You can do so in any programming language and you can pick the topic.
                    The steps are as follows:</p>
                </div>
                <div class="col-3  mt-2"> 
                  <p class="text-start"> Thanks for your interest in Trading Economics.
                    To continue with the selection process we ask you to do a small task to prove your skills.
                    You can do so in any programming language and you can pick the topic.
                    The steps are as follows:</p>
                </div>
                <div class="col-3  mt-2"> 
                  <p class="text-start"> Thanks for your interest in Trading Economics.
                    To continue with the selection process we ask you to do a small task to prove your skills.
                    You can do so in any programming language and you can pick the topic.
                    The steps are as follows:</p>
                </div>
                <div class="col-3  mt-2"> 
                  <p class="text-start"> Thanks for your interest in Trading Economics.
                    To continue with the selection process we ask you to do a small task to prove your skills.
                    You can do so in any programming language and you can pick the topic.
                    The steps are as follows:</p>
                </div>
                <div class="col-3  mt-2"> 
                  <p class="text-start"> Thanks for your interest in Trading Economics.
                    To continue with the selection process we ask you to do a small task to prove your skills.
                    You can do so in any programming language and you can pick the topic.
                    The steps are as follows:</p>
                </div>
              </div>

                   
    
                  
            
               {% endif%}
       
               


              
        </div>
       

        <!-- all products -->
        <div  class="col-lg-4 ">
            <div class="row ">
                

               <!--start page2-->
           
               
                 
               <div class="mt-5 h-100" >
                <div class="mask d-flex align-items-center h-100">
                  <div class="container col-lg-12">
                    <div class="row justify-content-center">
                      <div class="col-12">
                        <div class="card shadow-2-strong">
                          <div class="card-body p-0">
                            <div class="table-responsive" >
                              <table class="table table-white mb-0">
                                <thead style="background-color: #fff;">
                                  <tr class="text-uppercase text-success">
                                    <th scope="col">Country  name</th>
                                    <th scope="col"> Currency </th>
                                    
                                   
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for ct in qsch%}
                                  <tr>
                                    <td>{{ct.country}}</td>
                                    <td>{{ct.currency}}</td>
                                   
                                   
                                  </tr>
                                  {% endfor%}
                                  
                                 
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
            
            
           <!--end page2-->

            <!--start page3-->
            <div class="card mx-auto mb-3 mt-5"  style="width: 18rem;">
                <div class="list-group mt-5">
                

                    <p class="text-start">Thanks for your interest in Trading Economics.
                      To continue with the selection process we ask you to do a small task to prove your skills.
                      You can do so in any programming language and you can pick the topic.
                      The steps are as follows</p>
                   
                    
                </div>

                

            </div>
           <!--end page3-->

            </div>
        </div>
    </div>
</div>
<!--home data area end-->
               

               

            </div>
        </section>
        <!-- End attractions Section -->

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container" data-aos="fade-up">

               <!-- Table data start-->

<div class="container-fluid mt-3">
    <div class="m-0 ">

  <div class="bg-image h-100" style="background-color: #f5f7fa;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container col-lg-12">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card shadow-2-strong">
              <div class="card-body p-0">
                <div class="table-responsive" >
                  <table class="table table-dark mb-0">
                    <thead style="background-color: #393939;">
                      <tr class="text-uppercase text-success">
                        <th scope="col">Country name</th>
                        <th scope="col"> Group </th>
                        <th scope="col">Category</th>
                        <th scope="col">Imports </th>
                        <th scope="col">Currency </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for htd in hitdata%}
                      <tr>
                        <td>{{htd.country}}</td>
                        <td>{{htd.group}}</td>
                        <td>{{htd.category}}</td>
                        <td>{{htd.importance}}</td>
                        <td>{{htd.currency}}</td>
                      </tr>
                      {% endfor%}
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--Table data end--> 


            </div>
        </section>
        <!-- End Gallery Section -->

        


        

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        
        <div class="footer-top">
            <div class="container">
                        <div class="col-lg-12 col-sm-12 text-center text-danger">
                        <p  id="subsic"></p>
                        </div>
                <div class="row">
                

                    <div class="col-lg-4 col-md-6">
                        
                        <div class="footer-info">
                           {% for footers in footer %}
                            <h3> {{footers.our_domian_name}} </h3>
                            {% endfor%}
                           
                               <p>
                                {% for footers in footer %}
                                 <br> {{footers.our_address}} <br><br>
                                 {% endfor%}
                                 
                                

                                 {% for footers in footer%}
                                <strong>Phone:</strong> {{footers.call_us}}   <br>
                                  {% endfor%}
                                

                                {% for footers in footer %}
                                <strong>Email:</strong>{{footers.email_us}}  <br>
                                {% endfor%}
                               
                              </p>
                                <div class="social-links mt-3">
                                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                                </div>
                        </div>
                        
                    </div>

                   
                        <div class="col-lg-4 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'account:home'%}">Home</a></li>
                                
                            </ul>
                        </div>

                

                            <div class="col-lg-4 col-md-6 footer-newsletter">
                              
                        


                           </div>

                </div>
            </div>
            
        </div>
    
       

   


        
    </footer>

    <div class="text-light bg-dark col-lg-12 col-sm-12 justify-content-center justify-item-center"  id="copyright">
           
        <div class="row bg-dark col-lg-12 col-sm-12">
                <div class="copyright float-start col-lg-6 col-sm-6 mt-4 mb-4  text-center ">
                    &copy; Copyright
                    {% for footers in footer%} 
                    {{footers.copyright|date:"Y"}} 
                    {% endfor%}
                
                    <strong><span> 
                        {% for footers in footer %}
                        {{footers.our_domian_name}} 
                    {% endfor%}
                
                    </span></strong>. All Rights Reserved
                </div>
       
                <div class="credits float-end col-lg-6 col-sm-6 mt-4 mb-4 text-center">

                    Designed and Developed by <a href="https://kibrut.netlify.app/">Kibru</a>
                </div>
        </div>
       
</div>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter.js'%}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>
    
   
    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js'%}"></script>
    
  

</body>

</html>