<!-- ======= Footer ======= -->
<footer id="footer">
        
    <div class="footer-top">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-6 col-md-6">
                    
                  
                </div>
            
           

                <div class="col-lg-6 col-md-6 footer-links  text-xl-center ">
                    <h4>Useful Links</h4>
                    <ul>
                  
                        
                        <li><i class="bx bx-chevron-right text-center"></i> <a href="{% url 'mainapp:main' %}">Home</a></li>
                        <li><i class="bx bx-chevron-right text-center"></i> <a href="{% url 'mainapp:main' %}">About us</a></li>
                        
                        <li><i class="bx bx-chevron-right text-center"></i> <a href="{% url 'mainapp:news' %}">News</a></li>
                        
                        <li><i class="bx bx-chevron-right text-center"></i> <a href="{% url 'mainapp:privacy'%}">Privacy policy</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'mainapp:developer'%}">About Developers</a></li>
                      
                   </div> 
                        
                      
                    </ul>
                </div>



                

           </div>
        </div>
    </div>
   

  
</footer>
<!-- End Footer -->